a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #969696;
}

body {
  background-color: #19a2ae;
  background-image: url("bg-pattern-top.svg"), url("bg-pattern-bottom.svg") ;
  background-repeat: no-repeat;
  background-position: /*-130% 150%, 200% -80%; */-300px -600px, 600px 300px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  min-height: 100%;
  margin: 0;
  border: none;
  letter-spacing: 1px;
  padding: 0;
  text-align:center;
}

hr {
    border: solid rgba(150, 150, 150, 0.3) 1px;
    border-bottom: none;
    margin-top: 25px;
}

.container {
  text-align: center;
  width: 350px;
  margin: 100px auto 80px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 2px 100px 15px rgba(0, 0, 0, 0.1);
}

.card-top {
  height: 140px;
  background-image: url("bg-pattern-card.svg");
  border-radius: 10px 10px 0 0;
}

.credit {
  display: block;
  color: white;;
  font-size:10px;
  margin-bottom: 0;
  padding: 0;
}

.grey-text {
  color: #969696;
  font-weight: normal;
}

.grey-text-small {
  color: #969696;
  font-weight: bold;
  font-size: 10px;
}

.name {
  font-weight: bold;
  margin-top: 80px;
}

.profile-pic {
  border: 6px solid white;
  border-radius: 50%;
  margin-top: 85px;
}

.stats {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
}
